.content {
    margin-top: 15px;
}

.content table {
    margin: 0 auto;
    border-collapse: collapse;
}

.content th, .content td {
    padding: 3px 20px;
    text-align: left;
}

.content th {
    cursor: pointer;
    font-size: smaller;
}


.content thead tr {
    border-bottom: 2px solid #4f4d4d;
}

.content tr:last-of-type {
    padding-bottom: 10px;
    border-bottom: 2px solid #4f4d4d;

}
.content tr:nth-child(even){
    background: #f3efef;
}

.content tbody tr td {
    font-weight: bold;
    font-size: 0.9rem;
}


.content thead i {
    color: green;
}

tbody button:hover {
    text-decoration: underline;
}
