
.login-body-container {
    padding: 10px;
    width: 100vw;
    height: 100vh;
    background: #fff;

}

.login-body-container .header {
    font-family: 'PT Serif', serif;
    padding: 70px 50px 50px;
    text-align: center;
    color: #156be3;
}

.login-body-container .header h1 {
    text-shadow: 2px 2px 2px #ccc;
    pointer-events: none;
    user-select: none;
    letter-spacing: 3px;
}

.login-body-container .login-main-container {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8aaad6;
}

.login-body-container .textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 2px solid #607D8B;
}

.login-body-container .textbox i {
    width: 26px;
    text-align: center;
    float: left;
}

.login-body-container .textbox input {
    border: none;
    outline: none;
    background: none;
    color: #464646;
    float: left;
    width: 80%;
    font-size: 16px;
    margin: 0 10px;

}

.login-body-container .login-btn {
    width: 100%;
    background: #0c2131;
    border: 2px solid #0c2131;
    color: white;
    font-size: 18px;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'PT Serif', serif;
    cursor: pointer;
    outline: none;
    transition: 0.4s;
}

.login-body-container .login-btn:hover {
    color: #0c2131;
    background: white;
    box-shadow: 0 2px 2px 2px #0c2131;
}

.login-body-container .login-error{
    color: #e5278e;
}

.login-form-control:last-of-type {
    text-align: right;


}
.login-form-control:last-of-type button {
    font-family: inherit;
    font-weight: bold;
    font-size: 0.8rem;
    color: #156be3;
    transition: 0.4s;
}
.login-form-control:last-of-type button:hover{
    text-decoration: underline;
    color: #20334d;
}
