.mainContainer {
    padding:25px 10px;
    background: white;
    color: #a4a0a0;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
}


.userName h5,.userName h4 {
    margin: 0 0 0 20px;
    font-size: smaller;

}
.userName h4 {
    color: #7c7979;

}

.userIcon i {
    width: 100%;
    color: #7c7979;
}

.time {
    display: inline-block;
    margin-left: 5px;
}

.storeContainer h3 {
  margin-bottom: 40px;
    color: #20334d;
    text-shadow: 0 0 1px;
    font-weight: normal;
}



