.sidebarBody {
    background: #ffffff;
    margin: 5px 0;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidebarBody  ul a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 4;
    padding-left: 20px;
    border-bottom: 2px solid rgba(115, 112, 112, 0.5);
    transition: 0.5s;
    font-weight: bold;
    color: #343333;

}


.sidebarBody  ul a i {
    margin-right: 15px;
}
.sidebarBody  ul a:hover {
    padding-left: 30px;
    background: #BDF1F6;

}
.footer {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;


}
.footer * {
    color: #7c7979;
    font-weight: bold;
    border: none;
    outline: none;
    font-family: inherit;
    padding: 5px 10px;
    transition: 0.4s;
}
.footer a {
    color: #EE7070
}

.footer button:last-child{
    color: #474242;
}
.footer *:hover{
    color: #0c2131;
    text-decoration: underline;

}
